<form [formGroup]="addEditForm" class="form" style="margin: 0px 1rem">
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="1rem">
    <app-input name="title" formControlName="title"
               [placeholder]="moduleName + 'title'"
               [hint]="moduleName + 'hint.title'"
               style="width: calc(50% - 1rem);"
               [required]="true">
    </app-input>
    <app-input name="code" formControlName="code"
               [placeholder]="moduleName + 'code'"
               [hint]="moduleName + 'hint.code'"
               style="width: calc(50% - 1rem);"
               [required]="true">
    </app-input>
    <app-select [label]="moduleName + 'type'"
                [data]="typeValues"
                name="type" formControlName="type"
                style="width: calc(50% - 1rem);"
                [required]="true">
    </app-select>
    <app-autocomplete name="signerId" formControlName="signerId"
                      [data]="signerValues"
                      [placeholder]="moduleName + 'signer'"
                      [label]="moduleName + 'signer'"
                      [hint]="moduleName + 'hint.signer'"
                      [required]="true"
                      style="width: calc(50% - 1rem);">
    </app-autocomplete>
    <label for="file">{{ moduleName + 'file' | translate}}</label>
    <input type="file"
           id="file"
           name="fileUpload"
           formControlName="fileUpload"
           class="btn-1"
           accept="application/pdf"
           (change)="onChangeFileUpload($event)"/>
<!--    <app-file name="fileUpload" formControlName="fileUpload"-->
<!--              [placeholder]="moduleName + 'fileUpload'"-->
<!--              [hint]="moduleName + 'hint.fileUpload'"-->
<!--              style="width: calc(50% - 1rem);"-->
<!--              [required]="true">-->
<!--    </app-file>-->
  </div>
  <div class="btn-sec">
    <button mat-raised-button type="submit" color="primary" class="Update-btn" (click)="onSubmit()"
            [disabled]="addEditForm.invalid || this.file === undefined ||(isEdit && !isExists) "
            *ngIf="hasAuthority()">{{'btnAddEdit'|translate}}
    </button>
    <button mat-raised-button type="submit" color="primary" class="Update-btn" (click)="back()">
      {{'btnCancel'|translate}}
    </button>
  </div>
</form>
