<h2 style="text-align: center;">{{moduleName + (this.data ? 'editTitle' : 'addTitle')|translate}}</h2>
<form [formGroup]="addEditForm" class="form" style="margin: 0 1rem">
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="1rem">
    <app-input name="title" formControlName="title"
               [placeholder]="moduleName + 'title'"
               style="width: calc(50% - 1rem);"
               [required]="true">
    </app-input>
    <app-input name="code" formControlName="code"
               [placeholder]="moduleName + 'code'"
               style="width: calc(50% - 1rem);"
               [required]="true">
    </app-input>
    <app-select [label]="moduleName + 'type'"
                [data]="typeValues"
                name="type" formControlName="type"
                style="width: calc(50% - 1rem);"
                [required]="true">
    </app-select>
    <app-autocomplete name="signerId" formControlName="signerId"
                      [data]="signerValues"
                      [placeholder]="moduleName + 'signer'"
                      [label]="moduleName + 'signer'"
                      [required]="true"
                      style="width: calc(50% - 1rem);">
    </app-autocomplete>
    <label for="file">{{ moduleName + 'file' | translate}}</label>
    <label for="file" class="custom-file-upload">
      <i class="fa fa-cloud-upload"></i> File upload
    </label>
    <input type="file"
           id="file"
           name="fileUpload"
           formControlName="fileUpload"
           class="btn-1"
           accept="application/pdf"
           (change)="onChangeFileUpload($event)"/>
    <p>{{file ? file.name : ''}}</p>
  </div>
  <div class="btn-sec">
    <button mat-raised-button type="submit" color="primary" class="Update-btn" (click)="onSubmit()"
            [disabled]="addEditForm.invalid || this.file === undefined ||(isEdit && !isExists) "
            *ngIf="hasAuthority()">{{'btnAddEdit'|translate}}
    </button>
    <button mat-raised-button type="submit" color="primary" class="Update-btn" (click)="onCloseDialog()">
      {{'btnCancel'|translate}}
    </button>
  </div>
</form>
