<h2 style="text-align: center;">{{moduleName + (this.data ? 'editTitle' : 'addTitle')|translate}}</h2>
<form [formGroup]="addEditForm" class="form" style="margin: 0 1rem">
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="1rem">
    <app-input name="title" formControlName="title"
               [placeholder]="moduleName + 'title'"
               style="width: calc(50% - 1rem);"
               [required]="true">
    </app-input>
    <app-datepicker formControlName="deadline"
                    [required]="true"
                    [placeholder]="moduleName + 'deadline'"
                    style="width: calc(50% - 1rem);">
    </app-datepicker>
    <app-select [label]="moduleName + 'type'"
                [data]="typeValues"
                formControlName="type"
                style="width: calc(50% - 1rem);"
                [required]="true">
    </app-select>
    <label for="file">{{ moduleName + 'file' | translate}}</label>
    <label for="file" class="custom-file-upload">
      <i class="fa fa-cloud-upload"></i> File upload
    </label>
    <input type="file"
           id="file"
           name="fileUpload"
           formControlName="fileUpload"
           class="btn-1"
           accept="application/pdf"
           (change)="onChangeFileUpload($event)"/>
    <p>{{file ? file.name : ''}}</p>
    <app-multi-select-autocomplete [multiple]="true"
                                   [options]="receiverValues"
                                   [label]="moduleName + 'receiver'"
                                   (selectionChange)="onChangeReceiver($event)"
                                   formControlName="receiverIds"
                                   style="width: calc(50% - 1rem);">
    </app-multi-select-autocomplete>
  </div>
  <app-receive-user-requisition [usernameList]="receivers"
                                [usernameChanged]="receiversChanged"></app-receive-user-requisition>
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="1rem">
    <app-multi-select-autocomplete formControlName="signerIds"
                                   [options]="signerValues"
                                   [label]="moduleName + 'signer'"
                                   [required]="true"
                                   (ngModelChange)="onChangeSigner($event)"
                                   style="width: calc(50% - 1rem);">
    </app-multi-select-autocomplete>
  </div>
  <app-signer-requisition [usernameList]="signers"
                          [usernameChanged]="signersChanged"
                          (signLevelDown)="upSignLevel($event)"
                          (signLevelUp)="downSignLevel($event)">
  </app-signer-requisition>

  <div class="btn-sec">
    <button mat-raised-button type="submit" color="primary" class="Update-btn" (click)="onSubmit()"
            [disabled]="addEditForm.invalid || this.file === undefined ||(isEdit && !isExists) "
            *ngIf="hasAuthority()">
      <mat-icon>bookmark</mat-icon>
      {{'btnAddEdit'|translate}}
    </button>
    <button mat-raised-button type="submit" color="primary" class="Update-btn" (click)="onCloseDialog()">
      <mat-icon>clear</mat-icon>
      {{'btnCancel'|translate}}
    </button>
  </div>
</form>
