<h2 style="text-align: center;">{{moduleName + (this.data ? 'editTitle' : 'addTitle')|translate}}</h2>
<form [formGroup]="addEditForm" class="form" style="margin: 0 1rem">
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="1rem">
    <app-input name="username" formControlName="username"
              [placeholder]="moduleName + 'username'|translate"
              style="width: calc(45% - 1rem);" [required]="true" [disabled]="isEdit"></app-input>
    <div style="width: calc(10% - 1rem);"></div>
    <app-select [label]="moduleName + 'status'" [data]="statusValues"
                formControlName="status" [disabled]="true"
                style="width: calc(45% - 1rem);" [required]="true"></app-select>
    <app-input name="lastName" formControlName="lastName"
               [placeholder]="moduleName + 'lastName'|translate"
               style="width: calc(45% - 1rem);" [required]="true" [disabled]="isEdit && !isExists"></app-input>
    <div style="width: calc(10% - 1rem);"></div>
    <app-input name="firstName" formControlName="firstName"
              [placeholder]="moduleName + 'firstName'|translate"
              style="width: calc(45% - 1rem);" [required]="true" [disabled]="isEdit && !isExists"></app-input>
    <app-input name="tel" formControlName="tel"
              [placeholder]="moduleName + 'tel'|translate"
              style="width: calc(45% - 1rem);" [required]="true" [disabled]="isEdit && !isExists"></app-input>
    <div style="width: calc(10% - 1rem);"></div>
    <app-input name="email" formControlName="email"
              [placeholder]="moduleName + 'email'|translate"
              style="width: calc(45% - 1rem);" [required]="true" [disabled]="isEdit && !isExists"></app-input>
   
    <app-select [label]="moduleName + 'type'" [data]="typeValues"
                formControlName="type" [required]="true"
                (onSelectedChange)="onTypeChange()"
                style="width: calc(45% - 1rem);"></app-select>
    <div style="width: calc(10% - 1rem);"></div>
    <app-autocomplete formControlName="organization"
                      [data]="organizationValues"
                      [placeholder]="moduleName + 'organization'"
                      [label]="moduleName + 'organization'"
                      [required]="false"
                      style="width: calc(45% - 1rem);"></app-autocomplete>
    <app-input name="position" formControlName="position"
               [placeholder]="moduleName + 'position'|translate"
               style="width: calc(45% - 1rem);" [required]="true"></app-input>
  </div>
  <div class="btn-sec">
    <button mat-raised-button type="submit" color="primary" class="Update-btn" (click)="onSubmit()"
            [disabled]="addEditForm.invalid || (isEdit && !isExists)"
            *ngIf="hasAuthority()">
      <mat-icon>bookmark</mat-icon>
      {{'btnAddEdit'|translate}}
    </button>
    <button mat-raised-button type="submit" color="primary" class="Update-btn" (click)="onCloseDialog()">
      <mat-icon>clear</mat-icon>
      {{'btnCancel'|translate}}
    </button>
  </div>
</form>
