<div class="btn-sec" style="text-align: center">
  <h2 style="width: 100%;">{{title|translate}}</h2>
</div>
<form [formGroup]="addEditForm" class="form" style="margin: 0px 1rem">
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="1rem">
    <app-input [placeholder]="moduleName + 'type'"
               name="type" formControlName="type"
               style="width: calc(50% - 1rem);"
               [readonly]="true">
    </app-input>
    <app-input name="signerId" formControlName="signerId"
               [placeholder]="moduleName + 'signer'"
               [readonly]="true"
               style="width: calc(50% - 1rem);">
    </app-input>
    <app-input name="organization" formControlName="organization"
               [placeholder]="moduleName + 'organization'"
               style="width: calc(50% - 1rem);"
               [readonly]="true">
    </app-input>
    <app-input name="createUser" formControlName="createUser"
               [placeholder]="moduleName + 'createUser'"
               style="width: calc(50% - 1rem);"
               [readonly]="true">
    </app-input>
    <app-input name="createDate" formControlName="createDate"
               [placeholder]="moduleName + 'createDate'"
               style="width: calc(50% - 1rem);"
               [readonly]="true">
    </app-input>
    <app-input name="deadline" formControlName="deadline"
               [placeholder]="moduleName + 'deadline'"
               style="width: calc(50% - 1rem);"
               [readonly]="true">
    </app-input>
    <app-input name="status" formControlName="status"
               [placeholder]="moduleName + 'status'"
               style="width: calc(50% - 1rem);"
               [readonly]="true">
    </app-input>
    <app-input name="reason" formControlName="reason"
               [placeholder]="moduleName + 'reason'"
               style="width: calc(50% - 1rem);"
               [readonly]="true">
    </app-input>
    <label>{{ moduleName + 'file' | translate}}</label>
    <a (click)="download()">{{ fileName }}</a>
  </div>
  <br>
  <div *ngIf="this.data.isTransferMenu" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="1rem">
    <app-input name="transferUser" formControlName="transferUser"
               [placeholder]="moduleName + 'transferUser'"
               style="width: calc(50% - 1rem);"
               [readonly]="true">
    </app-input>
    <app-input name="transferDate" formControlName="transferDate"
               [placeholder]="moduleName + 'transferDate'"
               style="width: calc(50% - 1rem);"
               [readonly]="true">
    </app-input>
  </div>
  <div class="btn-sec">
    <button mat-raised-button type="submit" color="primary" class="Update-btn"
            (click)="approve()"
            [disabled]="!isApproveOrRejectPermission()"
            *ngIf="hasAuthority() && !this.data.isTransferMenu">
      <mat-icon>done_all</mat-icon>
      {{'btnApprove'|translate}}
    </button>
    <button mat-raised-button type="submit" color="primary" class="Update-btn"
            (click)="reject()"
            [disabled]="!isApproveOrRejectPermission()"
            *ngIf="hasAuthority() && !this.data.isTransferMenu">
      <mat-icon>clear</mat-icon>
      {{'btnReject'|translate}}
    </button>
    <button mat-raised-button type="submit" color="primary" class="Update-btn"
            (click)="process()"
            [disabled]="this.data.status != 0"
            *ngIf="hasAuthority() && !this.data.isTransferMenu">
      <mat-icon>call_made</mat-icon>
      {{'btnProcess'|translate}}
    </button>
    <button mat-raised-button type="submit" color="primary" class="Update-btn"
            (click)="cancelProcess()"
            [disabled]="!isCancelProcessPermission()"
            *ngIf="hasAuthority() && !this.data.isTransferMenu">
      <mat-icon>cancel</mat-icon>
      {{'btnCancelProcess'|translate}}
    </button>
<!--    <button mat-raised-button type="submit" color="primary" class="Update-btn"-->
<!--            (click)="transfer()"-->
<!--            [disabled]="this.data.status != 2 && this.data.status != 5"-->
<!--            *ngIf="hasAuthority()">-->
<!--      {{'btnTransfer'|translate}}-->
<!--    </button>-->
    <button mat-raised-button type="submit" color="primary" class="Update-btn"
            (click)="onCloseDialog()">
      <mat-icon>undo</mat-icon>
      {{'btnBack'|translate}}
    </button>
  </div>
</form>
