<div style="text-align: center; margin-bottom: 30px">
  <h2 style="width: 100%">{{moduleName + (data.isReject ? '.reject' : '.approve') | translate}}</h2>
</div>
<form [formGroup]="addEditForm" class="form" style="margin: 0px 1rem">
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="1rem"
       *ngIf="this.data.isReject">
      <textarea name="reason" formControlName="reason"
                rows="5" cols="50"
                required="{{data.isReject}}"
                placeholder="{{moduleName + '.reason'|translate}}"
                style="width: calc(100% - 1rem);">
      </textarea>
  </div>
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="1rem" style="margin-bottom: 30px"
       *ngIf="!this.data.isReject">
    <label for="file">{{ moduleName + '.selectFile' | translate}}</label>
    <label for="file" class="custom-file-upload">
      <i class="fa fa-cloud-upload"></i> {{moduleName + '.file' | translate}}
    </label>
    <input type="file"
           id="file"
           name="file"
           formControlName="file"
           class="btn-1"
           accept="image/*"
           (change)="onChangeFileUpload($event)"/>
    <p>{{file ? file.name : ''}}</p>
    <div style="width: calc(100% - 1rem);"></div>
    <app-number name="absoluteX"
               formControlName="absoluteX"
               [placeholder]="moduleName + '.absoluteX'"
               style="width: calc(50% - 1rem);"></app-number>
    <app-number name="absoluteY"
                formControlName="absoluteY"
                [placeholder]="moduleName + '.absoluteY'"
                style="width: calc(50% - 1rem);"></app-number>
  </div>
  <div class="btn-sec">
    <div class="btn-sec">
      <button mat-raised-button type="submit" color="primary" class="Update-btn" (click)="onSubmit()"
              *ngIf="hasAuthority()" [disabled]="addEditForm.invalid">
        {{'btnSign'|translate}}
      </button>
      <button mat-raised-button type="submit" color="primary" class="Update-btn" (click)="onCloseDialog()">
        {{'btnCancel'|translate}}
      </button>
    </div>
  </div>
</form>

