<h2 style="text-align: center">{{moduleName + '.title'|translate}}</h2>
<form [formGroup]="addEditForm" class="form" style="margin: 0px 1rem">
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="1rem">
    <app-password name="pass"
                  formControlName="password"
                  [required]="true"
                  [placeholder]="moduleName + '.pass'"
                  style="width: calc(100% - 1rem);">
    </app-password>
    <app-password name="newPass"
                  formControlName="newPassword"
                  [required]="true"
                  [placeholder]="moduleName + '.newPass'"
                  style="width: calc(100% - 1rem);">
    </app-password>
    <app-password name="newPassConfirm"
                  formControlName="newPasswordConfirm"
                  [required]="true"
                  [placeholder]="moduleName + '.newPassConfirm'"
                  style="width: calc(100% - 1rem);">
    </app-password>
    <div></div>
  </div>
  <div class="btn-sec">
    <button mat-raised-button type="submit" color="primary" class="Update-btn"
            (click)="onSubmit()"
            [disabled]="addEditForm.invalid"
            *ngIf="true">
      {{'btnOk'|translate}}
    </button>
    <button mat-raised-button type="submit" color="primary" class="Update-btn" (click)="onCloseDialog()">
      {{'btnCancel'|translate}}
    </button>
  </div>
</form>
