<h2> {{ moduleName + '.receive.' | translate }} </h2>
<form [formGroup]="searchForm" style="margin: 0px 1rem; text-align: center">
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="1rem">
    <app-input name="id"
               formControlName="id"
               [placeholder]="moduleName + '.management.search.code'"
               [hint]="moduleName + '.management.search.hint.code'"
               style="width: calc(33% - 1rem);"></app-input>
    <app-input name="title"
               formControlName="title"
               [placeholder]="moduleName + '.management.search.title'"
               [hint]="moduleName + '.management.search.hint.title'"
               style="width: calc(33% - 1rem);"></app-input>
    <app-select [label]="moduleName + '.management.search.type'"
                [data]="typeValues"
                name="type"
                formControlName="type"
                style="width: calc(33% - 1rem);">
    </app-select>
    <app-datepicker name="fromDate"
                    formControlName="fromDate"
                    [placeholder]="moduleName + '.management.search.fromDate'"
                    style="width: calc(33% - 1rem);"></app-datepicker>
    <app-datepicker name="toDate"
               formControlName="toDate"
               [placeholder]="moduleName + '.management.search.toDate'"
               style="width: calc(33% - 1rem);"></app-datepicker>

  </div>
  <button mat-fab color="primary" style="width: 60px;" type="button" (click)="onSubmit()">
    <mat-icon>search</mat-icon>
  </button>
</form>
<div class="content">
  <app-table [columns]="columns" [buttons]="buttons"
             [paging]="paging" (pagingChange)="pagingChange($event)"
             [moduleName]="moduleName" [results]="results"
             (clickAction)="onClick($event)">
  </app-table>
</div>
