<div flex layout="row" layout-align="start center">
  <h2>DASHBOARD</h2>
  <div fxFlex></div>
  <div [style.width.px]="100" layout="row">
    <mat-form-field floatPlaceholder="never">
      <input matInput readonly [matDatepicker]="pickerFrom" [ngModel]="dateFrom">
      <mat-datepicker-toggle matSuffix matTooltip="Start date" [for]="pickerFrom"></mat-datepicker-toggle>
      <mat-datepicker #pickerFrom [startAt]="dateFrom"></mat-datepicker>
    </mat-form-field>

  </div>
  <div style="padding: 21px;"> to</div>
  <div [style.width.px]="100" layout="row">
    <mat-form-field floatPlaceholder="never" flex>
      <input matInput readonly [(ngModel)]="dateTo" [matDatepicker]="pickerTo">
      <mat-datepicker-toggle matSuffix matTooltip="End date" [for]="pickerTo"></mat-datepicker-toggle>
      <mat-datepicker #pickerTo [startAt]="dateTo"></mat-datepicker>
    </mat-form-field>

  </div>
</div>
<div fxLayout="row wrap" fxLayout.sm="column">
</div>
