<h2 style="text-align: center;">{{moduleName + (this.data ? 'editTitle' : 'addTitle')|translate}}</h2>
<form [formGroup]="addEditForm" class="form" style="margin: 0px 1rem">
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="1rem">
    <app-input name="code" formControlName="code"
              [placeholder]="moduleName + 'code'"
              style="width: calc(33% - 1rem);"
              [required]="true" [disabled]="isEdit">
    </app-input>
    <app-input name="name" formControlName="name"
              [placeholder]="moduleName + 'name'"
              style="width: calc(33% - 1rem);"
              [required]="true" [disabled]="isEdit && !isExists">
    </app-input>
    <app-select [label]="moduleName + 'status'"
                [data]="statusValues"
                formControlName="status"
                style="width: calc(33% - 1rem);"
                [disabled]="true" [required]="true">
    </app-select>
  </div>
  <div class="btn-sec">
    <button mat-raised-button type="submit" color="primary" class="Update-btn" (click)="onSubmit()"
            [disabled]="addEditForm.invalid || (isEdit && !isExists)"
            *ngIf="hasAuthority()">
      <mat-icon>bookmark</mat-icon>
      {{'btnAddEdit'|translate}}
    </button>
    <button mat-raised-button type="submit" color="primary" class="Update-btn" (click)="onCloseDialog()">
      <mat-icon>clear</mat-icon>
      {{'btnCancel'|translate}}
    </button>
  </div>
</form>
